[access]
	inheritFrom = All-Projects
[project]
	description = linux kernel version 4.4.x repository
[access "refs/*"]
	owner = group user/JinyongLee-Nexell
	owner = group user/Nexell Jenkins (nxJenkins)
	owner = group user/SeongO Park (raypark714)
	owner = group user/Sungwoo Park (swpark)
	owner = group user/allan park (mcjino21)
	owner = group user/hokahie
	owner = group user/jung hyun kim (nxrohan)
[access "refs/for/refs/*"]
	read = group user/Sungwoo Park (swpark)
	push = group user/Sungwoo Park (swpark)
	label-Code-Review = -2..+2 group user/Sungwoo Park (swpark)
	label-Verified = -1..+1 group user/Sungwoo Park (swpark)
	rebase = group user/Sungwoo Park (swpark)
	removeReviewer = group user/Sungwoo Park (swpark)
	submit = group user/Sungwoo Park (swpark)
[access "refs/heads/*"]
	read = group user/Sungwoo Park (swpark)
	create = group user/Sungwoo Park (swpark)
	push = +force group user/Sungwoo Park (swpark)
	pushMerge = group user/Sungwoo Park (swpark)
[access "refs/tags/*"]
	push = group user/Sungwoo Park (swpark)
	push = +force group user/Sungwoo Park (swpark)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = rebase always
	mergeContent = false
