/*
 * Copyright (C) 2016  Nexell Co., Ltd.
 * Author: Youngbok, Park <ybpark@nexell.co.kr>
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "nxp4330.dtsi"

/ {
	memory {
		device_type = "memory";
		reg = <0x40000000 0x80000000>;
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	soc {
		#include "s5p4418-pinctrl.dtsi"
		clocks {
			uart0:uart@c00a9000 { clock-frequency = <147500000>; };
			uart1:uart@c00a8000 { clock-frequency = <100000000>; };
			uart2:uart@c00aa000 { clock-frequency = <100000000>; };
			uart3:uart@c00ab000 { clock-frequency = <100000000>; };
			uart4:uart@c006e000 { clock-frequency = <100000000>; };
			vip0:vip@c00c1000 { clock-frequency = <300000000>; };
			vip1:vip@c00c2000 { src-force = <5>; };
			pwm0:pwm0@c00ba000 {
				clk-input = <I_PLL2>;
				clock-frequency = <10000000>;
			};
			pwm1:pwm1@c00ba000 {
				clk-input = <I_PLL2>;
				clock-frequency = <10000000>;
			};
			pwm2:pwm2@c00be000 {
				clk-input = <I_PLL2>;
				clock-frequency = <10000000>;
			};
			pwm3:pwm3@c00be000 {
				clk-input = <I_PLL2>;
				clock-frequency = <10000000>;
			};

			spi0:spi@c00ac000 {
				clock-frequency = <10000000>;
			};
			spi1:spi@c00ad000 {
				clock-frequency = <10000000>;
			};

			spi2:spi@c00a7000 {
				clock-frequency = <10000000>;
			};
		};

		pinctrl@C0010000 {
			i2s2_bus:i2s2 {
				/delete-node/ i2s2-mclk;
			};
		};

		l2:l2-cache-controller@cf000000 {
			arm,prefetch-offset = <7>;
			prefetch-data = <1>;
			prefetch-instr = <1>;
			arm,tag-latency = <3 4 3>;
			arm,data-latency = <3 4 3>;
		};

		serial0:serial@c00a1000 {
			status ="okay";
		};

		serial1:serial@c00a0000 {
			status ="okay";
		};

		serial2:serial@c00a2000 {
			status ="okay";
		};

		serial3:serial@c00a3000 {
			status ="okay";
		};

		serial4:serial@c006d000 {
			status ="okay";
		};

		rtc@c0010c00 {
			status = "okay";
		};

		nexell_usbphy: nexell-usbphy@c0012000 {
			status = "okay";
		};

		ehci@c0030000 {
			status = "okay";
			port@0 {
				status = "okay";
			};
		};

		ohci@c0020000 {
			status = "okay";
			port@0 {
				status = "okay";
			};
		};

		dwc2otg@c0040000 {
			gpios = <&alive_0 5 0>;
			status = "okay";
		};

		i2s_0:i2s@c0055000 {
			#sound-dai-cells = <1>;
			master-mode = <1>;
			mclk-in = <0>;
			trans-mode = <0>;
			frame-bit = <32>;
			sample-rate = <48000>;
			pre-supply-mclk = <1>;
			status = "okay";
		};

		i2s_1:i2s@c0056000 {
			#sound-dai-cells = <1>;
			master-mode = <1>;
			mclk-in = <1>;
			trans-mode = <0>;
			frame-bit = <32>;
			sample-rate = <48000>;
			pre-supply-mclk = <0>;
			status = "okay";
		};

		i2s_2:i2s@c0057000 {
			#sound-dai-cells = <1>;
			master-mode = <0>;
			mclk-in = <1>;
			trans-mode = <0>;
			frame-bit = <32>;
			sample-rate = <48000>;
			pre-supply-mclk = <0>;
			status = "okay";
		};

		i2c_0:i2c@c00a4000 {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			rt5631: rt5631@1a {
				#sound-dai-cells = <0>;
				compatible = "rt,rt5631";
				reg = <0x1a>;
			};
		};

		amba {
			pl08xdma0:pl08xdma@c0000000 {
				use_isr;
			};

			pl08xdma1:pl08xdma@c0001000 {
				use_isr;
			};
		};

		spdif_tx: spdiftx@c0059000 {
			#sound-dai-cells = <1>;
			pcm-bit = <16>;
			sample_rate = <48000>;
			status = "okay";
		};

		spdif_rx: spdifrx@c005a000 {
			#sound-dai-cells = <1>;
			status = "okay";
		};

	};	/*** soc ***/

	sound {
		compatible = "nexell,simple-audio-card";
		simple-audio-card,name = "nxp4330 vtk Audio";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,widgets =
		    "Headphone", "Out Jack",
		    "Microphone", "In Jack";
		simple-audio-card,routing =
		    "Out Jack", "HPOL",
		    "Out Jack", "HPOR",
		    "IN2P", "In Jack",
		    "IN2P", "In Jack";
		status = "okay";


		simple-audio-card,dai-link@0 {
			format = "i2s";
			cpu {
				sound-dai = <&i2s_0 0>;
			};

			codec {
				sound-dai = <&snd_null>;
			};
		};

		simple-audio-card,dai-link@1 {
			format = "i2s";
			cpu {
				sound-dai = <&i2s_1 0>;
			};

			codec {
				sound-dai = <&rt5631>;
			};
		};

		simple-audio-card,dai-link@2 {
			format = "i2s";
			cpu {
				sound-dai = <&i2s_2 0>;
			};

			codec {
				sound-dai = <&snd_null>;
			};
		};

		simple-audio-card,dai-link@3 {
			format = "spdif";
			cpu {
				sound-dai = <&spdif_tx 0>;
			};

			codec {
				sound-dai = <&spdif_out>;
			};
		};

		simple-audio-card,dai-link@4 {
			format = "spdif";
			cpu {
				sound-dai = <&spdif_rx 0>;
			};

			codec {
				sound-dai = <&spdif_in>;
			};
		};
	};

	snd_null: snd_null@10 {
		#sound-dai-cells = <0>;
		compatible = "nexell,snd-null";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0 0>;
        };

	spdif_out: spdif-out {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dit";
	};

	spdif_in: spdif-in {
		#sound-dai-cells = <0>;
		compatible = "linux,spdif-dir";
	};
};

&dw_mmc_0 {
	num-slots = <1>;
	bus-width = <4>;
	cap-mmc-highspeed;
	broken-cd;
	non-removable;
	clock-frequency = <100000000>;
	card-detect-delay = <200>;
	disable-wp;
	nexell,drive_dly = <0x0>;
	nexell,drive_shift = <0x03>;
	nexell,sample_dly = <0x00>;
	nexell,sample_shift = <0x02>;
	status = "okay";
};

&dw_mmc_1 {
	num-slots = <1>;
	bus-width = <4>;
	cap-sd-highspeed;
	clock-frequency = <100000000>;
	card-detect-delay = <200>;
	disable-wp;
	cd-gpios = <&gpio_e 31 0>;
	cd-inverted;
	nexell,drive_dly = <0x0>;
	nexell,drive_shift = <0x02>;
	nexell,sample_dly = <0x00>;
	nexell,sample_shift = <0x01>;
	status = "okay";
};

&spi_0 {
	status = "okay";
	cs-gpios = <&gpio_c 30 0>;
	spidev@0 {
		compatible = "linux,spidev";
		pl022,com-mode = <0x1>;
		pl022,rx-level-trig = <1>;
		pl022,tx-level-trig = <1>;
		reg = <0>;
		spi-max-frequency = <10000000>;
		controller-data {
			samsung,spi-feedback-delay = <0>;
		};
	};
};

&spi_1 {
	status = "okay";
	cs-gpios = <&gpio_e 15 0>;
	spidev@0 {
		compatible = "linux,spidev";
		pl022,com-mode = <0x1>;
		pl022,rx-level-trig = <1>;
		pl022,tx-level-trig = <1>;
		reg = <0>;
		spi-max-frequency = <10000000>;
		controller-data {
			samsung,spi-feedback-delay = <0>;
		};
	};
};

&spi_2 {
	status = "okay";
	cs-gpios = <&gpio_c 10 0>;
	spidev@0 {
		compatible = "linux,spidev";
		pl022,com-mode = <0x1>;
		pl022,rx-level-trig = <1>;
		pl022,tx-level-trig = <1>;
		reg = <0>;
		spi-max-frequency = <10000000>;
		controller-data {
			samsung,spi-feedback-delay = <0>;
		};
	};
};
